body {
  background-color: #c0c0c0;
  color: #fff;
}

.admin-panel {
  width: 80%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.panel-title {
  font-size: 29px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.add-new-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #195ecc;
  color: #fff;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
}

.product-list {
  border: 1px solid #444;
  border-radius: 10px;
  overflow: hidden;
}

.product-row {
  display: grid;
  grid-template-columns: auto 0.8fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.product-row:hover {
  background-color: #444;
}

.product-row div {
  text-align: center;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.actions {
  display: flex;
  justify-content: center;
}

.action-btn {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #1260b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #043f7e;
}

.edit-product-form {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.edit-product-form h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.edit-product-form input[type="text"],
.edit-product-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.dark-input {
  background-color: #555;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 170px;
}

.add-product-button {
  padding: 5px 13px;
  margin-left: 90px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-add-button {
  padding: 8px 10px;
  margin-left: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover,
.cancel-add-button:hover {
  background-color: #6bcd7a;
  color: #ffffff;
}

.add-buttons-container {
  display: flex;
  justify-content: flex-end;
}
